@font-face {
  font-family: "Hallis R";
  src: url(../fonts/) format("woff2");
  font-weight: 800;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hallis R";
  src: url(../fonts/) format("woff2");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pitch Sans";
  src: url(../fonts/) format("woff2");
  font-weight: 600;
  font-size: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url(../fonts/) format("woff2");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url(../fonts/) format("woff2");
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}
