
@font-face {
  font-family: "Glacial Indifference";
  src: url(../fonts/glacialindifference-regular-subset.woff2) format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url(../fonts/glacialindifference-bold-subset.woff2) format("woff2");
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}
