@import "_typography.scss";
@import "_colors.scss";

header {
  font-size: 1rem;
  padding-top: 2rem;
}

#tagline {
  position: relative;
  margin: auto;
  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "GT Pressura Mono", Lexend;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 auto;
    color: $background;
    background: $cyan;
    padding: 0.3em 0.7em 0.4em 0.7em;
    display: inline-block;
  }
}

#title {
  display: flex;
  flex-direction: column;
  transform: rotate(-10deg);
}

%headings {
  font-family: "Glacial Indifference";
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
  display: inline-block;
}

h1 {
  @extend %headings;
  font-size: 10em;
  color: $red;
  text-shadow: 
    -0.02em 0 0 $yellow,
    0.02em 0 0 $pink;
  transform: rotate(-16deg);
  margin: 0 0 0 -0.2em;
}

h1 + h1 {
  color: $cyan;
  margin: -0.5em 0 0 0.4em;
  transform: rotate(-5deg);
}

h2 {
  @extend %headings;
  font-size: 4.1em;
  color: $red;
  text-shadow: 
    -0.025em 0 0 $cyan,
    0.025em 0 0 $pink;
}

h3 {
  @extend %headings;
  color: darkgreen;
  font-size: 3.3em;
  margin: -0.2em 0 0 0.4em;
  text-shadow: 
    -0.025em 0 0 $cyan,
    0.025em 0 0 $pink;
}


